.background {
    height: 100vh;
    background-image: url("../pictures/img.png");
    -webkit-background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.users-info {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, 0.2);
    text-align: center;
    position: relative;
}

.face {
    border-radius: 50%;
    position: relative;
    top: -10%;
}

* {
    color: white;
}

.button a{
    width: 150px;
    height: 50px;
    background-image: url("../pictures/img.png");
    background-size: 500px;
    background-position: bottom;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20px;
    text-decoration: none;
}



.button :hover {
    color: black;

    transition: 300ms;
}

h5 {
    /*z-index: +1;*/
}