.background {
    width: 100vw;
    height: 100vh;
    background-image: url("../pictures/img.png");
    -webkit-background-size: 100% ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.father {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child{
    width: 1200px;
    height: 500px;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, 0.2);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;

}

.comments {
    width: 100% ;
display: flex;
    justify-content: center;

}

.commTitleDiv {
    width: 400px;
    height: 200px;
    font-size: 15px;
    box-sizing: border-box;
    margin: 5px;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, 0.2);
    text-align: center;
}

p {
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

h5 {
    margin: 0;
}

button {
    margin: 20px;
    background: transparent;
}