body{
    margin: 0;
}
.father {
    /*width: 1000px;*/
    /*height: 600px;*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: silver;
    margin: 0;


}

.course {
    margin: 10px;
    border: 1px solid black;
    width: 800px;
    background: #466293;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
}
#course-0{


}

h2{
    background: cornflowerblue;
    margin: 10px;
    width: 800px;
    height: 50px;
    box-sizing: border-box;
    padding: 10px;



}


.right {
    background: cornflowerblue;
    width: 500px;
    height: 40px;
    margin: 10px ;
    box-sizing: border-box;
    padding: 10px;
}

.left {
    background: cornflowerblue;
    width: 260px;
    height: 40px;
    margin: 10px ;
    box-sizing: border-box;
    padding: 10px;
}

.lishka {
    width: 780px;
    background: cornflowerblue;
    margin: 10px ;
    box-sizing: border-box;
    padding: 25px;
}
